$accent-color: #F2CB52;
$text-color-on-accent: white;

.sidebar {
  background-color: $accent-color;
}
.content a,
.related-posts li a:hover {
  color: darken($accent-color, 18%);
}

.sidebar {
	color: $text-color-on-accent;
}

.sidebar .faded {
	&, a:link, a:visited {
		color: darken($accent-color, 28%);
	}
	a:hover, a:active {
		color: $text-color-on-accent;
	}
	.new {
		font-weight: bold;
	}
}