$accent-color: #F2CB52;

.sidebar {
  background-color: $accent-color;
}
.content a,
.related-posts li a:hover {
  color: darken($accent-color, 18%);
}

.sidebar {
	color: white;
}

.sidebar .faded {
	&, a:link, a:visited {
		color: darken($accent-color, 28%);
	}
	a:hover, a:active {
		color: white;
	}
}