$accent-color: #F2CB52;

.sidebar {
  background-color: $accent-color;
}
.content a,
.related-posts li a:hover {
  color: darken($accent-color, 18%);
}

.sidebar {
	color: white;
}

.sidebar .faded {
	color: darken($accent-color, 28%);
}