<head prefix="og: http://ogp.me/ns# fb: http://ogp.me/ns/fb# business: http://ogp.me/ns/business#">
  <link href="http://gmpg.org/xfn/11" rel="profile">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">

  <!-- Enable responsiveness on mobile devices-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <!-- For Google Webmaster Tools -->
  <meta name="google-site-verification" content="qOSeFlPhgdaRFpjqGsDITaEoSDXdaCKtxUq2YaDa_IY" />

  <title>{% include title.html %}</title>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ site.siteurl }}/css/styles.css">
  {% if page.page-type == "form" %}
    <link rel="stylesheet" href="{{ site.siteurl }}/css/forms.css">
  {% endif %}

  <!--<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700">-->

  <!-- Icons -->
  <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ site.siteurl }}/public/apple-touch-icon-144-precomposed.png">
  <link rel="shortcut icon" href="{{ site.siteurl }}/public/favicon.ico">

  <!-- RSS -->
  <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml">

  {% include open-graph-meta.html %}
</head>
