<!-- Facebook Open Graph meta tags-->
<meta property="og:title" content="{% include title.html %}">
{% if page.is-part-of-blog %}
  <meta property="og:type" content="blog">
{% else %}
  <meta property="og:type" content="website">
{% endif %}
<meta property="og:url" content="{{ site.siteurl }}{{ site.baseurl }}">
<meta property="og:image" content="{{ site.siteurl }}{{ site.baseurl }}public/open-graph-default-image.png">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:description" content="{{ site.description }}">
<meta property="og:latitude" content="{{ site.contact.location.latitude }}">
<meta property="og:longitude" content="{{ site.contact.location.longitude }}">
<meta property="og:street-address" content="{{ site.contact.address.street-address }}">
<meta property="og:locality" content="{{ site.contact.address.city }}">
<meta property="og:region" content="{{ site.contact.address.region }}">
<meta property="og:postal-code" content="{{ site.contact.address.post-number }}">
<meta property="og:country-name" content="{{ site.contact.address.country }}">
<meta property="og:email" content="{{ site.contact.email.normal }}">
<meta property="og:phone_number" content="{{ site.contact.phone.international }}">