<h3 class="related-posts-header">Lisää luettavaa</h3>
<ul class="related-posts">
    {% for post in site.related_posts %}
    <li>
        <h3>
            <a href="{{ post.url }}">
                {{ post.page-title }}
                <small> {{ post.date | nice_fi_date }} </small>
            </a>
        </h3>
    </li>
    {% endfor %}
    <li>
        <h3><a href="{{ site.blog.baseurl }}"> Blogin etusivulle </a></h3>
    </li>
    <li>
        <h3>
            <a href="{{ site.siteurl }}">
                Valmennuskeskus Nepparin kotisivuille
            </a>
        </h3>
    </li>
</ul>
