<div class="sidebar">

  <div class="container sidebar-sticky-top">
    <div class="sidebar-about">
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }}
        </a>
      </h1>
      <p class="small">
        {{ site.tagline-short }}
      </p>
      <p class="faded">
        {{ site.author.name }}<br/>
        {{ site.contact.address }}<br/>
        {{ site.contact.phone }}<br/>
        {{ site.contact.email }}
      </p>
    </div>
  </div>

  <div class="container sidebar-sticky">
    <nav class="sidebar-nav">
      {% assign pages_list = (site.pages | sort: 'navigation-order') %}
      {% for node in pages_list %}
        {% if node.layout == "page" %}
          <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">
            {% if node.link-title %}
              {{ node.link-title }}
            {% else %}
              {{ node.title }}
            {% endif %}
          </a>
        {% endif %}
      {% endfor %}
    </nav>
  </div>

</div>
