<div class="writer-information">
	<div class="image-container">
		<img src="{{ site.siteurl }}/public/niina-and-the-big-coffee-cup.jpg"
			alt="Niina Piiran kuva" class="image" />
	</div>
	<div class="description">
		<div class="name">{{ site.writer.name }}</div>
		<div class="title">
			{{ site.writer.title-1 }},<br />
			{{ site.writer.title-2 }}
		</div>
		<div class="bio">
			{{ site.writer.bio }}
			<a href="{{ site.contact.page }}">
				{{ site.contact.email.normal }}
			</a>
		</div>
	</div>
</div>