---
layout: default
is-part-of-blog: true
sidebar: false
headerbar: true
body-class-name: post
---

<img src="{{ site.siteurl }}/public/blog-frontpage.jpg"
      alt="Maisemakuva satamasta" class="blog-frontpage-image" />

<div class="welcome-message">
  <h3>Hei ja tervetuloa!</h3>
  <p>{{ site.blog.description }}</p>

  {% capture content_size %}{{ content | strip | size }}{% endcapture %}
  {% if content_size != '0' %}
    <hr/>
    <p>{{ content }}</p>
    <hr/>
  {% endif %}
</div>

<h3>Uusin napsahdus Nepparin blogissa:</h3>
<div class="post">

  <h1 class="post-title">
    <a href="{{ site.posts.first.url }}">{{ site.posts.first.page-title }}</a>
  </h1>

  <span class="post-date">
    {% include post-date.html block=site.posts.first %}
  </span>

  <p>
    {{ site.posts.first.excerpt | strip_html }}
  </p>

  <p class="read-more">
    <a href="{{ site.posts.first.url }}">Jatka lukemista klikkaamalla tästä...</a>
  </p>

</div>

{% include previous-posts.html %}

{% include writer.html %}