---
layout: default
body-class-name: post
is-part-of-blog: true
---

<div class="welcome-message">
  <h3>Hei ja tervetuloa!</h3>
  <p>{{ site.blog.description }}</p>
</div>

<h3>Uusin napsahdus Nepparin blogissa:</h3>
<div class="post">

  <h1 class="post-title">
    <a href="{{ site.posts.first.url }}">{{ site.posts.first.page-title }}</a>
  </h1>

  <span class="post-date">
    {% include post-date.html block=site.posts.first %}
  </span>

  {{ site.posts.first.excerpt }}

  <p class="read-more">
    <a href="{{ site.posts.first.url }}">Jatka lukemista klikkaamalla tästä...</a>
  </p>

</div>

{% include previous-posts.html %}

{% include writer.html %}