---
layout: default
sidebar: true
headerbar: false
---

{% if site.important-notification %}
  {% if page.page-type == "front-page" or page.page-type == "form" %}
  	<div class="important-notification">
  		{{ site.important-notification }}
  	</div>
  {% endif %}
{% endif %}

<div class="page">

  {% include polaroid-image.html %}

  <h1 class="page-title {{ header_class }}">
    {{ page.page-title }}
  </h1>
  {{ content }}

  {% if page.page-type == "front-page" or page.page-type == "cv" %}
    {% include nepsy-ry.html %}
  {% endif %}

</div>

{% if site.important-notification %}
  {% if page.page-type != "front-page" and page.page-type != "form" %}
  	<div class="important-notification">
  		{{ site.important-notification }}
  	</div>
  {% endif %}
{% endif %}
