---
layout: default
is-part-of-blog: true
sidebar: false
headerbar: true
body-class-name: post
eleventyComputed:
    post:
        title: "{{ page-title }}"
---

<div class="post">
    <h1 class="post-title">{{ page-title }}</h1>
    <span class="post-date"> {{ page.date | nice_fi_date }} </span>

    {{ content | replace_first:'
    <p>','</p>
    <p class="first">' }} {% include 'simple-sharing-buttons.html' %}</p>
</div>

{% include 'writer.html' %} {% assign related_posts = post | add_content:
content | relatedPosts: collections['posts'] %}

<h3 class="related-posts-header">Lisää luettavaa</h3>
<ul class="related-posts">
    {% for related_post in related_posts %}
    <li>
        <h3>
            <a href="{{ related_post.url }}">
                {{ related_post.title }}
                <small> {{ related_post.date | nice_fi_date }} </small>
            </a>
        </h3>
    </li>
    {% endfor %}
    <li>
        <h3><a href="{{ site.blog.baseurl }}"> Blogin etusivulle </a></h3>
    </li>
    <li>
        <h3>
            <a href="{{ site.siteurl }}">
                Valmennuskeskus Nepparin kotisivuille
            </a>
        </h3>
    </li>
</ul>
